.reviewsContainer {
    text-align: center;
    margin: 20px 0;
}
.reviewsList {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.reviewsList li {
    margin: 5px 0;
}
.reviewsList button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: rgb(13, 67, 161, 0.5);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.reviewsList button:hover {
    background-color:rgb(13, 67, 161, 0.8);
}